<?xml version="1.0" ?>
<model>
    <name>3bd2ba apt model</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Spencer Waguespack</name>
        <email>spencer.waguespack@protonmail.com</email>
    </author>
    <description>a model of a 3 bed 2 bath appartment for testing of my home assistant robot</description>
</model>
